{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Baza wiedzy</h1>
          <span class="subheading">...może pomoże :)</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>







          <h2 class="py-3" >

        Niezbędnik
      </h2>



       <ul class="list-unstyled">
           <li class="py-3"><i class="fa-solid fa-list px-3"></i><a href="https://docs.google.com/spreadsheets/d/1Xv_mYy2MU8S_QCsI6T6azAlvdQG0KwlOFrsIheNlR9E/edit?usp=sharing" class="link-primary">Zakres materiału CKE</a></li>
           <li class="py-3" ><i class="fa-solid fa-book px-3"></i><a href="{{ url_for('download_repetytorium') }}" class="link-primary">Repetytorium - teoria wraz z przykładami</a></li>
           <li class="py-3"><i class="fa-solid fa-person-running px-3"></i><a href="https://szaloneliczby.pl/zadania-maturalne-matematyka/" class="link-primary">Zadania z rozwiązaniami z każdego działu</a></li>
           <li class="py-3" ><i class="fa-solid fa-person-hiking px-3"></i><a href="https://matura100procent.pl/zadania-maturalne/baza-zadan-maturalnych/baza-zadan-z-matematyki/" class="link-primary">Zadania z odpowiedzami z poszczególnych działów</a></li>
           <li class="py-3" ><i class="fa-solid fa-person-skating px-3"></i><a href="https://drive.google.com/file/d/1hQTku_NJWP7Lc0AI2R1FmBP6Bblyt-iI/view" class="link-primary">Zbiór zadań CKE z rozwiązaniami</a></li>
           <li class="py-3" ><i class="fa-solid fa-tv fa-xs  px-3"></i><a href="https://www.youtube.com/@miedzianyfsor/videos" class="link-primary">YouTube MiedzianyFsor - przystępna teoria</a></li>



       </ul>

        </p>

 <p>

          <h2 class="py-3" >

        Informacje maturalne
      </h2>



       <ul class="list-unstyled">
           <li class="py-3"><i class="fa-solid fa-box-archive px-3"></i><a href="https://arkusze.pl/matematyka-matura-poziom-podstawowy/" class="link-primary">Historyczne arkusze maturalne z rozwiązaniami</a></li>
           <li class="py-3"><i class="fa-solid fa-rocket px-3"></i><a href="https://szaloneliczby.pl/pewniaki-maturalne-matematyka/" class="link-primary">Pewniaki maturalne</a></li>
           <li class="py-3" ><i class="fa-solid fa-sheet-plastic px-3"></i><a href="https://cke.gov.pl/images/_EGZAMIN_MATURALNY_OD_2023/Arkusze_egzaminacyjne/2023/Matematyka/poziom_podstawowy/MMAP-P0-100-2305.pdf" class="link-primary">Jak wyglądał arkusz maturalny w 2023</a></li>
           <li class="py-3" ><i class="fa-solid fa-square-check px-3"></i><a href="https://s.tvp.pl/repository/attachment/6/b/d/6bd569d5ca15adf6a55a25516e5fddac1614856181232.pdf?_ga=2.97275679.1240265906.1697719403-693119908.1697719403" class="link-primary">Jak wygląda karta odpowiedzi do zadań zamkniętych</a></li>
           <li class="py-3" ><i class="fa-solid fa-book px-3"></i><a href="https://cke.gov.pl/images/_EGZAMIN_MATURALNY_OD_2023/Informatory/wybrane_wzory_matematyczne_EM2023.pdf" class="link-primary">Maturalna karta wzorów</a></li>
           <li class="py-3" ><i class="fa-solid fa-calculator px-3"></i><a href="{{ url_for('things') }}" class="link-primary">Co wziąć na maturę</a></li>



       </ul>

        </p>




    </div>
  </div>
</div>











</main>

{% include "footer.html" %}
