{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/materials.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Materiały</h1>
          <span class="subheading">...z zajęć</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>


    <h2 class="py-3" >

        Materiały z zajęć
      </h2>

          <ul class="list-unstyled">



            <h5 class="py-3" >
                V zajęcia - 16.12.23
            </h5>


         <li class="py-3" ><i class="fa-solid fa-window-maximize px-3"></i><a href="https://szaloneliczby.pl/wykresy-wzory-i-wspolczynniki-funkcji-liniowej-zadania-maturalne/" class="link-primary">7. Funkcja liniowa - zadania "Szalone liczby"</a>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=8y62fVWR-Ls&ab_channel=MiedzianyFsor" class="link-primary">Funkcja liniowa - teoria</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=9nfUHgwsi-Y&ab_channel=MiedzianyFsor" class="link-primary">Funkcja liniowa - zadania</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=b1VuBqvIGDk&ab_channel=MiedzianyFsor" class="link-primary">Funkcja liniowa określona na przedziałach</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=yyrF7aE5Kx0&t=335s&ab_channel=MiedzianyFsor" class="link-primary">Wyznaczanie dziedziny na podstawie wzoru funkcji</a></li>













            <h5 class="py-3" >
                IV zajęcia - 02.12.23
            </h5>


         <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no='6') }}" class="link-primary">6. Funkcje - zadania z repetytorium</a>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=fheOaJ8YfyE&ab_channel=MiedzianyFso" class="link-primary">Funkcja - co to takiego?</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=4WQfTf83qY8&ab_channel=MiedzianyFsor" class="link-primary">Wykresy funkcji</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=2uq1GAgfY1Y&ab_channel=MiedzianyFsor" class="link-primary">Odczytywanie dziedziny z wykresu funkcji</a></li>

         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href=https://www.youtube.com/watch?v=yyrF7aE5Kx0&ab_channel=MiedzianyFso" class="link-primary">Wyznaczanie dziedziny na podstawie wzoru funkcji</a></li>

         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=ynfC7LkJHE8&ab_channel=MiedzianyFsor" class="link-primary">Zbiór wartości funkcji</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=wWDdh1nNoyk&ab_channel=MiedzianyFsor" class="link-primary">Najmniejsza i największa wartość funkcji</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=BN2AZRWpQ3k&ab_channel=MiedzianyFsor" class="link-primary">Miejsca zerowe funkcji</a></li>
         <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=2EKeogk5tRs&ab_channel=MiedzianyFsor" class="link-primary">Własności funkcji - podsumowanie</a></li>


              <h5 class="py-3" >
                III zajęcia - 25.11.23
            </h5>
            <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no='5') }}" class="link-primary">5. Wartość bezwzględna</a></li>
            <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=xCqyFW5tIdE&ab_channel=MiedzianyFsor" class="link-primary">Przedziały liczbowe</a></li>
            <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=JR-QyonxHEk&ab_channel=MiedzianyFsor" class="link-primary">Wartość bezwzględna liczby</a></li>
            <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=1Cr9YVP_OS0&ab_channel=MiedzianyFsor" class="link-primary">Wyłączanie wspólnego czynnika przed nawias</a></li>

            <h5 class="py-3" >
                II zajęcia - 28.10.23
            </h5>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no='D2') }}" class="link-primary">D2. Wyrażenia algebraiczne - szlifowanie podstaw</a></li>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no='D1') }}" class="link-primary">D1. Działania na ułamkach - szlifowanie podstaw</a></li>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no=4) }}" class="link-primary">4. Równania i nierówności</a></li>
           <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=-12p6LMh9dQ&ab_channel=MiedzianyFsor" class="link-primary">Układy równań</a></li>
           <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=3vcLKSnMtVw&ab_channel=MiedzianyFsor" class="link-primary">Układy równań - metoda graficzna</a></li>
            <h5 class="py-3" >
                I zajęcia - 14.10.23
            </h5>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no=3) }}" class="link-primary">3. Wzory skróconego mnożenia</a></li>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no=2) }}" class="link-primary">2. Pierwiastki</a></li>
           <li class="py-3" ><i class="fa-solid fa-scroll px-3"></i><a href="{{ url_for('get_pdf', no=1) }}" class="link-primary">1. Potęgi</a></li>
           <li class="py-3" ><i class="fa-brands fa-youtube px-3"></i><a href="https://www.youtube.com/watch?v=MI4DFB6yw7M&ab_channel=MiedzianyFsor" class="link-primary">Potęga o wykładniku wymiernym</a></li>


       </ul>






        </p>




    </div>
  </div>
</div>











</main>

{% include "footer.html" %}
