{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Baza wiedzy</h1>
          <span class="subheading">...może pomoże :)</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

          <h2 class="py-3" >

        Co wziąć na maturę
      </h2>



<div class="list-group">
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
     Spokój i opanowanie
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
     Dowód osobisty
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    Długopisy z czarnym tuszem
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    Linijka
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    Cyrkiel
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    Kalkulator prosty
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    Mała butelka z wodą bez etykiety
  </label>

</div></div>
<div class="text-center p-5">

  <a href="{{ url_for('materials') }}"><button type="button" class="btn btn-primary">Powrót</button></a>
</div>



</main>

{% include "footer.html" %}
